body {
background-color:#c2f1c2;
font-family: Helvetica, Arial, sans-serif;
margin: 0;
padding: 0;
}

@media screen and (max-width: 400px) {
    body {
        display: none;
    }
    } 
    @media screen and (min-width:401px) and (max-width: 600px) {
    body {
    
    }
    .newspaper {
        column-count: 3;
        column-gap: 40px;
        column-rule-style: solid;
      }
    .container{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    iframe{
        width:auto;
        height: auto;
    }
    }
    @media screen and (min-width:601px) {
    body {
  
    }
    }

#cabecera{
  width: 100%;
}

#menu-principal{
  background-color:rgb(19, 173, 71);
  position: relative;top: -131px;
  color: white;
  padding: 10px;
  width: 100%;
  word-spacing: 8px;
  text-align: center;
  }

ul,li{
padding:0,0;
margin: 2px,2px;
display: inline-block;
text-align: center;
color: white;
}

footer {
background-color:rgb(19, 173, 71);
color: #fff;
text-align: center;
padding: 20px;
bottom: 0;
width: 100%;
position:relative;bottom: -10px;
}

#titol{
  text-align: center;
  position: relative;bottom: -35px;
}
#titol2{
  position: relative;bottom: -40px;
  margin-left: 10px;
}
.newspaper{
margin-left: 10px;
}

.emoticonos{
display: flex;
margin-right: 2cm;
justify-content: center; /* Centra los elementos horizontalmente */
align-items: center;
padding: 20px;
margin-left: 65px; 
}

#facebook{
width: 65px;
height: 65px;
object-fit: cover;  
}
        
#whatsapp{
width: 50px;
height: 50px;
object-fit: cover; 
}
        
#instagram{
width: 65px;
height: 65px;
object-fit: cover; 
}
        
#twiter{
width: 65px;
height: 65px;
object-fit: cover; 
}
        
#copy{
text-align: center; 
font-size: smaller;
}
.inline-frame {
display:flex;
justify-content: center;
align-items: center;
position: relative;top: -100px;
background-color: red;
}
#mapa{
height: calc(300px + 250px);
width: 100%;
border-radius: 15px;
}

.video-gallery {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
position: relative;bottom:-80px;
border-radius: 5px;
}

iframe{
border-radius: 8px;
width: 90%;
}

.video-item{
width: 500px;
height: 500px;
margin: 5px;
border-radius: 5px;
}

#fotos{
display:flex;
justify-content: space-around:5px;
align-items: center;
position: relative;bottom: -80x;
padding: 20px;
 
}

.agraiments{
justify-content: center;
align-items: center;
margin-left: 10px;
width: 100%;
border-radius: 5px;
}

#ag{
font-size: 15px;
margin-left: 10px;
}

#titol3{
margin-left: 10px;
}

.newspaper2{
  margin-left: 10px;
}
